name: Testing
on:
  pull_request:
  push:
    branches: [main]

jobs:
  build-arm:
    runs-on: ubuntu-24.04-arm
    steps:
    - uses: actions/checkout@v4
    - name: Pre-flight
      run: uname -a
    - name: Build and Test
      run: docker build -f ci/Dockerfile .

  build-x86:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: Pre-flight
      run: uname -a
    - name: Build and Test
      run: docker build -f ci/Dockerfile .
